section.faq 
    .container 
        h2.faq__title Частые вопросы наших клиентов
        .faq__item
            .faq__item-title Что нужно для того, чтобы ваша компания приступила к работам?
            .faq__item-text Необходимо встретиться на объекте, посмотреть подготовленность участка для начала работ, сделать необходимые замеры, обсудить детали строительства. подписать договор.
        .faq__item
            .faq__item-title Нужна ли предоплата для начала работ?
            .faq__item-text Да, после согласования стоимости и подписания договора, предоплата 50%
        .faq__item
            .faq__item-title Какой марки, класса бетон будет использоваться?
            .faq__item-text В основном, для несущих конструкций используем только М300 и М350. Точная марка зависит от типа заливаемых конструкций.
        .faq__item
            .faq__item-title Какая техника используется при строительстве?
            .faq__item-text Мы обеспечиваем процесс строительства собственной техникой либо арендной. Из тяжёлой техники применяется ямобур на колёсном ходу, бетононасос (не всегда, но качество заливки с ним будет лучше), трактора. <br><br>Из лёгкой техники это - ручной мотобур (иногда), вибротрамбовка, глубинный вибратор для бетона и прочий ручной инструмент.
        .faq__item
            .faq__item-title Какие гарантии вы даете?
            .faq__item-text Несмотря на то, что гарантийный срок согласно Закону РФ, на выполненные работы составляет 2 года, в договоре мы прописываем 15 лет,  потому что уверены в качестве наших работ.
        .faq__item
            .faq__item-title Какая средняя продолжительность строительства?
            .faq__item-text Срок строительства зависит от типа фундамента и погоды. Минимум необходимо 2-3 дня для изготовления фундамента под забор, самые длительные - Комбинированные и УШП. На них требуется до 15-20 дней. Но в среднем, на фундамент уходит около недели.
        .faq__item
            .faq__item-title Где вы работаете?
            .faq__item-text В основном, география наших объектов сосредоточена в Москве и Области. Выезжаем в ближайшие области.
        .faq__item
            .faq__item-title Вы строите по ГОСТам, СНиПам?
            .faq__item-text Да, только по ним! 
        .faq__item
            .faq__item-title Когда лучше строить фундамент?
            .faq__item-text Строительный сезон начинается в конце апреля и заканчивается обычно к началу зимы. Строительство зимой допустимо (есть даже свои плюсы), но заливки лучше проводить до -15 градусов. 
        .faq__item
            .faq__item-title Как происходит оплата?
            .faq__item-text Два варианта – наличный и безналичный. Оплачивается этапами, по факту выполненных работ.
        .faq__item
            .faq__item-title Где будут жить сотрудники?
            .faq__item-text Самый предпочтительный вариант – бытовка. Всем кто собирается строить дом, не имея жилья на участке, советуем бытовку приобрести (хоть самую простую). Даже если строительная компания привезёт свою, то скорее всего Вами будет почти оплачена стоимость новой бытовки.