.overlay#modal-thanks
    .modal.modal_thanks
        .modal__close#modal-thanks-close &times; 
        h2.modal__title Спасибо за заявку!
        .modal__text Мы перезвоним в течение 15 минут, ответим на ваши вопросы и сделаем расчет