section.whatknow
    .container
        h2.whatknow__title Что нужно знать для составления сметы
        .whatknow__subtitle Наш инженер все сделает бесплатно!
        .whatknow__wrap
            .whatknow__item
                img(src="img/whatknow1.png", alt="whatknow").whatknow__item-img
                .whatknow__item-text Геологию грунта
            .whatknow__item
                img(src="img/whatknow2.png", alt="whatknow").whatknow__item-img
                .whatknow__item-text Геометрию участка 
            .whatknow__item
                img(src="img/whatknow3.png", alt="whatknow").whatknow__item-img
                .whatknow__item-text Перепады высот 
            .whatknow__item
                img(src="img/whatknow4.png", alt="whatknow").whatknow__item-img
                .whatknow__item-text Уровень грунтовых вод
            .whatknow__item
                img(src="img/whatknow5.png", alt="whatknow").whatknow__item-img
                .whatknow__item-text Наличие/отсутствие насаждений 
            .whatknow__item
                img(src="img/whatknow6.png", alt="whatknow").whatknow__item-img
                .whatknow__item-text Наличие подъездных путей
