section.freepay
    .container
        h2.freepay__title Сделаем бесплатно при заказе у нас
        .freepay__wrap
            .freepay__item
                .freepay__item-img
                    img(src="img/freepay1.svg", alt="freepay")
                .freepay__item-text Выезд специалиста бесплатно
            .freepay__item
                .freepay__item-img
                    img(src="img/freepay2.svg", alt="freepay")
                .freepay__item-text Готовим проект бесплатно
            .freepay__item
                .freepay__item-img
                    img(src="img/freepay3.svg", alt="freepay")
                .freepay__item-text Разметка фундамента бесплатно
            .freepay__item 
                .freepay__item-img
                    img(src="img/freepay4.svg", alt="freepay")
                .freepay__item-text Расчет бесплатно
        
