section.steps
    .container
        h2.steps__title Как построить фундамент с нами
        .steps__wrap
            .steps__item
                img(src="img/steps1.svg", alt="step").steps__icon
                .steps__item-wrap
                    .steps__item-title Оставьте заявку
                    .steps__item-text Рассчитываем предварительную стоимость фундамента по телефону. <br><br>Оставьте заявку или звоните по номеру
                        a(href="tel:+79111111111") +7(911)111-11-11
                    button.button.button_steps.show-modal-call Подобрать фундамент
            .steps__item
                img(src="img/steps2.svg", alt="step").steps__icon
                .steps__item-wrap
                    .steps__item-title Выезд на замер
                    .steps__item-text Подписываем договор на объекте. После согласования стоимости и подписания договора вы вносите предоплату 50% (за материалы).
            .steps__item
                img(src="img/steps3.svg", alt="step").steps__icon
                .steps__item-wrap
                    .steps__item-title Строим фундамент
                    .steps__item-text Мы строим фундамент в течение оговоренных в договоре сроков. Полностью берем на себя все вопросы по организации процесса.
            .steps__item
                img(src="img/steps4.svg", alt="step").steps__icon
                .steps__item-wrap
                    .steps__item-title Ваш фундамент готов
                    .steps__item-text Вы проверяете качество работ, подписываем акт приемки выполненных работ. Вы оплачиваете вторую часть - 50% за фундамент.