section.start
    .container
        h1.start__title Фундамент под ключ по ГОСТ и СНиП за 10 дней
        h2.start__subtitle Строим по договору с гарантией 10 лет
        .start__form
            .start__form-text Строительство фундаментов в Москве и области<br>На рынке уже 10 лет. Построено более 200 фундаментов                               
            h2.start__form-title Заказать консультацию бесплатно
            form(action="sendmail.php" method="post").form.form_start
                input(type="text" name="phone" placeholder="Ваш телефон" value="").input.input_start
                button(type="submit").button.button_start Получить консультацию