header.header
    .container
        .header__wrap
            a(href="/").header__logo
                img(src="img/logo.png", alt="logo")
            .header__menu
                a(href="#types").header__menu-item Цены
                a(href="#samples").header__menu-item Наши работы
                a(href="#types").header__menu-item Типовые размеры
                a(href="#etapes").header__menu-item Этапы работ
            .header__button
                button.button.button_header.show-modal-call Заказать расчет
            a(href="tel:+79111111111").header__phone +7 (911) 111-11-11