section.etapes#etapes
    .container
        h2.etapes__title Этапы строительства фундамента
        .etapes__item
            .etapes__item-title 1. Подготовительные работы
            .etapes__item-text Производится разметка участка и подготовка траншеи под планируемый фундамент (Время - 1-2 дня)
            .etapes__item-wrap                
                iframe(src="//www.youtube.com/embed/KsmA9uz6HRk?rel=0" frameborder="0").etapes__item-video
                img(src="img/etapes1.png", alt="etap").etapes__item-img
        .etapes__item
            .etapes__item-title 2. Установка опалубки и армирование фундамента
            .etapes__item-text Срок выполнения 1-2 дня
            .etapes__item-wrap                
                iframe(src="//www.youtube.com/embed/w4TxcINYOMM?rel=0" frameborder="0").etapes__item-video
                img(src="img/etapes2.png", alt="etap").etapes__item-img
        .etapes__item
            .etapes__item-title 3. Заливка фундамента
            .etapes__item-text Срок выполнения 1 день
            .etapes__item-wrap                
                iframe(src="//www.youtube.com/embed/ezRdBuPDK48?rel=0" frameborder="0").etapes__item-video
                img(src="img/etapes3.png", alt="etap").etapes__item-img
        .etapes__item
            .etapes__item-title 4. Снятие опалубки и уборка мусора
            .etapes__item-text Срок выполнения 1-2 дня
            .etapes__item-wrap
                iframe(src="//www.youtube.com/embed/VPNO6R8n1RA?rel=0smA9uz6HRk?rel=0" frameborder="0").etapes__item-video
                img(src="img/etapes4.png", alt="etap").etapes__item-img