footer.footer
    .container
        .footer__wrap
            a(href="/").footer__logo
                img(src="img/logo.png", alt="logo")
            .footer__menu
                a(href="#").footer__menu-item#show-confidence Политика конфиденциальности
                a(href="#").footer__menu-item Наверх
            .footer__button
                button.button.button_footer.show-modal-call Обратный звонок
            a(href="tel:+79111111111").footer__phone +7 (911) 111-11-11