doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Фундаменты под ключ
        link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")
    body
        include ./components/header/_header.pug
        main.main            
            include ./components/start/_start.pug
            include ./components/calc/_calc.pug
            include ./components/benefits/_benefits.pug
            include ./components/freepay/_freepay.pug
            include ./components/types/_types.pug
            include ./components/choice/_choice.pug
            include ./components/whatknow/_whatknow.pug
            include ./components/samples/_samples.pug
            include ./components/freecalc/_freecalc.pug
            include ./components/steps/_steps.pug
            include ./components/etapes/_etapes.pug
            include ./components/help/_help.pug 
            include ./components/faq/_faq.pug          
        include ./components/footer/_footer.pug            
        include ./components/modals/_modal-call.pug
        include ./components/modals/_modal-thanks.pug
        include ./components/modals/_modal-confidence.pug
