section.benefits
    .container
        h2.benefits__title У нас вы получите
        .benefits__wrap
            ul.benefits__list
                li.benefits__item Бесплатный выезд и консультация + нивелирование участка в Подарок.
                li.benefits__item Точный расчет сметы за 1 день - больше сумма не изменится.
                li.benefits__item Сэкономим Вам 15-60 тыс. руб. на закупке материалов, без потери качества.
                li.benefits__item Вы можете платить поэтапно за нашу работу.
                li.benefits__item Строим за 3-15 дней. Гарантию 15 лет прописываем в договоре.
            .benefits__img
        .benefits__text И самое главное: мы строим фундаменты уже 10 лет! <br>Вам мы тоже построим надежный фундамент, который простоит десятки лет!